html {
    background-image: url("images/img.jpg");
}

html body{
    width: 50%;
    height: 100%;
    border: .5px white solid;
    border-radius: 15px;
    backdrop-filter: blur(3px);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    padding: 50px 0;
    margin: 10% auto;
}

body h1 {
    text-align: center;
}

a {
    text-decoration: underline;
    color: white;
    font: bold 12px Arial, Helvetica, sans-serif;
    }

a:hover {
    color: white;
}


.loginGroup input {
    border: .5px white solid;
    border-radius: 15px;
    width: 70%;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    display:block;
    margin: 15px auto;
}

.loginGroup input::placeholder {
    color: white;
    font: bold 13px Arial, Helvetica, sans-serif;
    padding-left: 5px;
}


.button {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px white solid;
    font: bold 14px Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 15px;
    width: 75%;
    height: 35px;
}

.rememberForgot {
    display: inline-block;
    align-items: center;
    font-size: 14px;
    margin-right: 22.5%;
}

body h4 {
    text-align: center;
    font-size: 12px;
}

